In [3]:
conda install pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\anaconda

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.2                |           py37_0         2.8 MB
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py37_0

The following packages will be UPDATED:

  conda                                       4.7.12-py37_0 --> 4.8.2-py37_0



Downloading and Extracting Packages

pymysql-0.9.3        | 83 KB     |            |   0%
pymysql-0.9.3        | 83 KB     | #9         |  19%
pymysql-0.9.3        | 83 KB     | ########## | 100%

conda-4.8.2          | 2.8 MB    |            |   0%
conda-4.8.2          | 2.8 MB    | 6          |   6%
conda-4.8.2          | 2.8 MB    | #7         |  18%
conda-4.8.2          | 2.8 MB    | ##8        |  29%
conda-4.8.2          | 2.8 MB    | ###8       |  39%
conda-4.8.2          | 2.8 MB    | #####      |  50%
conda-4.8.2          | 2.8 MB    | ######1    |  62%
conda-4.8.2          | 2.8 MB    | #######3   |  74%
conda-4.8.2          | 2.8 MB    | ########4  |  85%
conda-4.8.2          | 2.8 MB    | #########5 |  95%
conda-4.8.2          | 2.8 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [176]:
import pymysql
passw = "maquina271"
# Creamos  conecci칩n y seleccionamos base de datos a conectarnos "nabla_python"
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

In [177]:

# 1) Realiza una consulta a la base de datos nabla_python por medio de pymysql: encuentra los tipos de 
#status existentes dentro de la tabla orders.

query="""
SELECT status
FROM orders;
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchall()

print(orders)

(('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Disputed',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Disputed',), ('Shipped',), ('Disputed',), ('Shipped',), ('Shipped',), ('In Process',), ('In Process',), ('In Process',), ('In Process',), ('In Process',), ('In Process',))

In [178]:
# 2) Encuentra los 10 clientes customerName que m치s han comprado en la tienda. 
#La tabla resultante deber치 estar ordenada de mayor a menor con customerName y 
#expenses como la columna en d칩nde se encuentre el monto gastado en la tienda. 
#(hint: considera las tablas customers y payments)

query = """
SELECT customerName, amount
FROM customers
JOIN payments
ON payments.customerNumber = customers.customerNumber
ORDER BY amount DESC;
"""

In [179]:
with conn.cursor() as cursor:
    cursor.execute(query)
    elements = cursor.fetchmany(10)
    
for element in elements:
    print(element)

('Euro+ Shopping Channel', Decimal('120166.58'))
('Euro+ Shopping Channel', Decimal('116208.40'))
('Mini Gifts Distributors Ltd.', Decimal('111654.40'))
('Dragon Souveniers, Ltd.', Decimal('105743.00'))
('Mini Gifts Distributors Ltd.', Decimal('101244.59'))
('Corporate Gift Ideas Co.', Decimal('85559.12'))
('Mini Gifts Distributors Ltd.', Decimal('85410.87'))
('Herkku Gifts', Decimal('85024.46'))
('Mini Gifts Distributors Ltd.', Decimal('83598.04'))
('Australian Collectors, Co.', Decimal('82261.22'))

In [65]:
# 3) Escribe una consulta que, para cada producto comprado muestre la clave del cliente customerNumber 
#y el c칩digo del producto productCode. Obten los primeros 10 valores

query = """
SELECT customers.customerNumber, orderdetails.productCode 
FROM customers
JOIN orders
ON orders.customerNumber = customers.customerNumber
JOIN orderdetails
ON orderdetails.orderNumber= orders.orderNumber;
"""

In [66]:
with conn.cursor() as cursor:
    cursor.execute(query)
    elements3 = cursor.fetchmany(10)
    
for element in elements3:
    print(element)

(124, 'S12_1666')
(124, 'S18_1097')
(124, 'S18_4668')
(124, 'S32_3522')
(124, 'S12_1099')
(124, 'S12_3380')
(124, 'S12_3990')
(124, 'S12_4675')
(124, 'S18_1889')
(124, 'S18_3278')

In [93]:
# 4) En base al ejercicio anterior, reemplaza productCode por productName. 
#HINT: El comando WITH nos ayuda a crear una tabla temporal:
query = """
WITH t1 as(
    SELECT customers.customerNumber, orderdetails.productCode 
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber= orders.orderNumber)

SELECT t1.customerNumber, products.productName
FROM products
JOIN t1
ON products.productCode = t1.productCode;
"""

In [94]:
with conn.cursor() as cursor:
    cursor.execute(query)
    elements4 = cursor.fetchmany(10)
    
for element in elements4:
    print(element)

(103, '1965 Aston Martin DB5')
(103, '1999 Indy 500 Monte Carlo SS')
(103, '1948 Porsche Type 356 Roadster')
(103, '1966 Shelby Cobra 427 S/C')
(103, '1996 Moto Guzzi 1100i')
(103, '1936 Harley Davidson El Knucklehead')
(103, '1938 Cadillac V-16 Presidential Limousine')
(112, '1917 Grand Touring Sedan')
(112, '1911 Ford Town Car')
(112, '1932 Model A Ford J-Coupe')

In [95]:
# 5) En base al ejercicio anterior, reemplaza customerNumber por customerName
query = """
WITH t1 as(
    SELECT customers.customerName, orderdetails.productCode 
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber= orders.orderNumber)

SELECT t1.customerName, products.productName
FROM products
JOIN t1
ON products.productCode = t1.productCode;
"""

In [96]:
with conn.cursor() as cursor:
    cursor.execute(query)
    elements5 = cursor.fetchmany(10)
    
for element in elements5:
    print(element)

('Atelier graphique', '1965 Aston Martin DB5')
('Atelier graphique', '1999 Indy 500 Monte Carlo SS')
('Atelier graphique', '1948 Porsche Type 356 Roadster')
('Atelier graphique', '1966 Shelby Cobra 427 S/C')
('Atelier graphique', '1996 Moto Guzzi 1100i')
('Atelier graphique', '1936 Harley Davidson El Knucklehead')
('Atelier graphique', '1938 Cadillac V-16 Presidential Limousine')
('Signal Gift Stores', '1917 Grand Touring Sedan')
('Signal Gift Stores', '1911 Ford Town Car')
('Signal Gift Stores', '1932 Model A Ford J-Coupe')

In [151]:
#6)En base al ejercicio 3, encuentra el nombre del producto productName y 
#cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.
#Escribe una consulta que, para cada producto comprado muestre la clave del cliente customerNumber 
#y el c칩digo del producto productCode. Obten los primeros 10 valores

query = """
WITH t1 as(
    SELECT customers.customerNumber, orderdetails.productCode 
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber= orders.orderNumber)

SELECT products.productName, COUNT(productName) as count_productName 
FROM products
JOIN t1
ON products.productCode = t1.productCode
GROUP BY productName
ORDER BY count_productName DESC;
"""
#import os
#os.getcwd()

In [150]:

with conn.cursor() as cursor:
    cursor.execute(query)
    states_count = cursor.fetchmany(20)

for element in states_count:
    print(element)

('1992 Ferrari 360 Spider red', 53)
('1996 Moto Guzzi 1100i', 28)
('1936 Harley Davidson El Knucklehead', 28)
('1938 Cadillac V-16 Presidential Limousine', 28)
('1932 Model A Ford J-Coupe', 28)
('1939 Chevrolet Deluxe Coupe', 28)
('1937 Lincoln Berline', 28)
('2003 Harley-Davidson Eagle Drag Bike', 28)
('P-51-D Mustang', 28)
('1997 BMW R 1100 S', 28)
('1928 British Royal Navy Airplane', 28)
('1960 BSA Gold Star DBD34', 28)
('1900s Vintage Tri-Plane', 28)
('1997 BMW F650 ST', 28)
('1928 Ford Phaeton Deluxe', 28)
('1930 Buick Marquette Phaeton', 28)
('American Airlines: B767-300', 28)
('America West Airlines B757-200', 28)
('ATA: B757-300', 28)
('F/A 18 Hornet 1/72', 28)

In [153]:
# 7) Por medio de SQLAlchemy, define la tabla orders definida dentro de nabla_python
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
engine
conn = engine.connect()

In [159]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String,Date

Base = declarative_base()

class Orders(Base):
    __tablename__ = "orders"
    orderNumber  = Column(Integer, primary_key=True,nullable=False)
    orderDate  = Column(Date,nullable=False)#,datetime.datetime.now()
    requiredDate = Column(Date,nullable=False)
    shippedDate  = Column(Date,nullable=True)
    status = Column(String(15),nullable=False)
    comments = Column(String(10),nullable=True)
    customerNumber = Column(Integer, index=True,nullable=False)

In [169]:
# 8) Por medio de SQLAlchemy, define la tabla orderdetails definida dentro de nabla_python
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date,Float,SmallInteger

Base = declarative_base()

class Orderdetails(Base):
    __tablename__ = "orderdetails"
    orderNumber  = Column(Integer, primary_key=True,nullable=False)
    productCode  = Column(String(15),nullable=False, primary_key=False)
    quantityOrdered  = Column(Integer, nullable=False)
    priceEach  = Column(Float(10,2), nullable=False)
    orderLineNumber  = Column(SmallInteger, nullable=False)

In [172]:
#9)Realiza una consulta a la base de datos nabla_python por medio de sqlalchemy: 
#encuentra los tipos de status existentes dentro de la tabla orders.

from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

for instance in sess.query(Orders).limit(10):
    print(instance.status)

Shipped
Shipped
Shipped
Shipped
Shipped
Shipped
Shipped
Shipped
Shipped
Shipped